.landingPage {
    display: flex;
    justify-content: center;
}
.wrapper {
    text-align: center;
}
.description { 
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    width: 50%;
    margin-left: 100px;
}
.fotoKarla{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
    
}
.fotoKarla img{
    width: 400px;
    height: auto;
    border-radius: 200px;  
        
}
h1{
    font-weight: 300;
    padding: 30px
}
.description h2{
    font-weight: 300;
    font-size: 1.5rem;
    padding: 20px 0;
    text-decoration: overline;
    
}
p{
    font-weight: 200;
}
.choosYourOption{
    margin-left: 50px;
    padding: 20px;    
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
 
}
.contactButton{
    text-align: center;
}
.welcome{
    font-weight: 500;
    font-size: 2rem;
}
@media screen and (max-width: 1200px) {
    .fotoKarla{
        display: none;
    }
    .choosYourOption{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .landingPage{
        width: 100%;
    }
    .description{
        display: block;
        text-align: justify;
        width: 100%;
        margin: 0 0 0 30px;
    }
    .wrapper h2{
       margin: 0;
    }
    .description h2{
        margin: 0;
    }
    .wrapperLanding{
        min-height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

}
@media screen and (max-width:600px) {
    .choosYourOption{
        display: flex;
        flex-direction: column;
    }
}