body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #e8e3e6;
    box-sizing: border-box;
    color: #5A5A54;
}

li{
    list-style: none;
  
}
ul{
    padding: 0;
}
a:hover{
    transform: scale(1.1) ;
    transition: transform 0.2s ease-in;
}
.footer{
    font-size: 12px;
  
}
button{
    text-align: center;
    padding: 20px;    
    margin: 40px 40px 0 0 ;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in;

}
