.min-h-screen{
    background-color: #e8e3e6;
}
span{
  margin: 0 5px;
}
.delete{
    margin: 10px 0 0 0;
}
.keepShopping{
  margin: 30px 0 ;
}
.text-xl{
  margin: 0;
}
article{
  text-align: center;
}